<!-- ThemeColor -->
<!-- <div class="toggle" onclick="document.body.classList.toggle('body--dark')">Switch Color</div> -->

<div class="toggle" onclick="document.body.classList.toggle('body--dark')">
  <strong class="mdui-icon material-icons bright-mode">☀️</strong>
  <strong class="mdui-icon material-icons dark-mode">🌃</strong>
</div>
